{# BLOCOS DE DADOS 2 #}
<div class="col-md-6 mb-4">
    <div class="card">
        <div class="card-body">
            <div id="setores"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
var setoresData = '[{% for setor in total_setor %}["{{ setor.setor|upper }}", {{ setor.total }}, true, true]{% if not loop.last %},{% endif %}{% endfor %}]';
var setores = JSON.parse(setoresData);

Highcharts.chart('setores', {
    chart: {
        styledMode: true
    },
    title: {
        text: 'TOTAL DE INSCRITOS POR SETOR DE ATUAÇÃO',
        align: 'center'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    tooltip: {
        pointFormat: '<b>{point.y:.0f} total</b>'
    },
    series: [{
        type: 'pie',
        allowPointSelect: true,
        keys: ['name', 'y', 'selected', 'sliced'],
        data: setores,
        showInLegend: true
    }]
});
</script>
{#  #}