{% extends "layout/layoutMaster.twig" %}

{% block title %}Definir Senha{% endblock %}

{% block body %}

<!-- BEGIN: Content-->
<div class="container">

    <div class="app-content content ">

        <div class="content-wrapper">
            <div class="content-body">

                <div class="row justify-content-center">

                    <div class="col-md-6">
                        <div class="auth-wrapper auth-basic">
                            <div class="auth-inner my-5">
                                <!-- Login basic -->
                                <div class="card mb-0 bg-transparent text-white border-white border-2">
                                    <div class="card-body p-5">
                
                                        <div class="text-center">
                                            <h4 class="card-title mb-2">Definir sua Senha 🔒</h4>
                                            <p class="card-text mb-3">Digite sua senha de acesso abaixo.</p>
                                        </div>

                                        <form class="auth-forgot-password-form mt-2" action="javascript:void(0)" id="user_definir_senha" method="POST">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 mb-3">
                                                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" />
                                                </div>
                                                <div class="col-md-6 col-sm-12 mb-3">
                                                    <input type="password" class="form-control" id="resenha" name="resenha" placeholder="Confirmar senha" />
                                                </div>
                                            </div>
                                            <div id="senha_alert" class="alert alert-danger text-center mb-2" style="display:none;">As senhas não são iguais.</div>
                                            <div class="d-flex justify-content-center">
                                                <input type="hidden" name="codigo_privado" value="{{ usuario.codigo_privado }}">                                        
                                                <button type="submit" class="rounded-pill btn btn-warning px-5" disabled><i class="fa-solid fa-unlock-alt me-2"></i> Salvar Senha</button>
                                            </div>
                                            

                                        </form>

                                    </div>
                                </div>
                                <!-- /Login basic -->
                            </div>
                            <div class="login-load" style="display: none;"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- END: Content-->
    
</div>

{% endblock %}