{% extends "layout/layoutMaster.twig" %}

{% block title %} Recepção {% endblock %}

{% block body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>

<div class="container py-5">
	
	<session>

		<div class="row">

			<div class="col-sm-12 col-md-12">

				<h4 class="text-center">CHECKING DE ENTRADA</h4>

				<div id="camera"></div>
				
				<div class="w-75 text-center m-auto mt-4">
					<button type="button" id="startButton" class="btn btn-warning btn-lg w-100 fw-bold rounded-0">VERIFICAR INSCRIÇÃO</button>
				</div>

			</div>

		</div>

	</session>

</div>

<script src="{{ PATH }}/view/src/js/services/recepcao.js?34234"></script>

{% endblock %}