{% extends "layout/layoutPanel.twig" %}

{% block title %}Configurações de Visitas{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
           
            <div class="content-header row">
            </div>

            <div class="content-body">
                
                <div class="mt-1 mb-2">
                    <h3>Configurações relacionadas aos Agendamentos </h3>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12">
                        <form action="javascript:void(0)" id="configuracoes_visita" method="POST">

                            <div class="card">
                                <div class="card-body">
                                    <div class="position-relative configuracoes_visita">

                                        <div class="form-load"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
                                        
                                        {% for estado in estados %}
                                        <div class="col-12">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-text text-uppercase col-9 rounded-0">{{ estado.estado }}</div>
                                                <input type="number" name="{{ estado.sigla }}" value="{{ estado.limit }}" class="form-control col-3 rounded-0" placeholder="0">
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                        <div class="mt-2">
                                            <button type="submit" class="rounded-pill btn btn-lg btn-primary">ATUALIZAR</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/configuracoes.js"></script>
{% endblock %}