<div class="card h-100">
    <div class="card-body pb-0">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    {% set valor_total_pedidos = 0 %}
                    {% for pedidos in pedidosMensais %}
                        {% set valor_total_pedidos = valor_total_pedidos + pedidos.total_valor_pedidos %}
                    {% endfor %}
                    <h1 class="mb-0 text-primary">R$ {{ valor_total_pedidos|number_format(2, ',', '.') }}</h1>
                    <small class="text-body">Valor total de todos os pedidos de {{ "now"|date("Y") }}.</small>
                </div>
            </div>
            <div class="flex-grow-1 w-100">
                <div
                    id="weeklyEarningReports"
                    data-meses="{% for pedidos in pedidosMensais %}{{ pedidos.mes_nome }}{% if not loop.last %}, {% endif %}{% endfor %}"
                    data-qtd="{% for pedidos in pedidosMensais %}{{ pedidos.quantidade_pedidos }}{% if not loop.last %}, {% endif %}{% endfor %}"
                >
                </div>
            </div>
        </div>

        <div class="border rounded p-2 mt-2">
            <div class="row gap-4 gap-sm-0">
                <div class="col-12 col-sm-4">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="badge rounded bg-label-primary p-1">
                            <i class="fa-light fs-5 fa-money-bill-trend-up"></i>
                        </div>
                        <h5 class="mb-0 fw-normal">Ganhos</h5>
                    </div>
                    <h4 class="mt-1">R$ 10.545,69</h4>
                    <div class="progress w-75" style="height: 4px">
                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="badge rounded bg-label-info p-1">
                            <i class="fa-light fs-5 fa-chart-pie"></i>
                        </div>
                        <h5 class="mb-0 fw-normal">Lucros</h5>
                    </div>
                    <h4 class="mt-1">R$ 8.256,34</h4>
                    <div class="progress w-75" style="height: 4px">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="badge rounded bg-label-danger p-1">
                            <i class="fa-light fs-5 fa-money-check-dollar-pen"></i>
                        </div>
                        <h5 class="mb-0 fw-normal">Despesas</h5>
                    </div>
                    <h4 class="mt-1">R$ 5.074,19</h4>
                    <div class="progress w-75" style="height: 4px">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>