{% extends "layout/layoutPanel.twig" %}

{% block title %}Editar Orçamento{% endblock %}

{% block body %}


<!-- BEGIN: Content-->
<div class="app-content content">

    <div class="row">
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    dasda
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    dasda
                </div>
            </div>
        </div>

        <div class="col-md-4">
             <div class="card">
                <div class="card-body">
                    dasda
                </div>
            </div>
        </div>

    </div>
    
</div>

<script src="{{ PATH }}/view/painel/src/js/scripts/pages/orcamentos.js"></script>

{% endblock %}