{% extends "layout/layoutPanel.twig" %}

{% block title %}Editar Orçamento{% endblock %}

{% block body %}


<!-- BEGIN: Content-->
<div class="app-content content">

    <div class="row">
        

    </div>
    
</div>

<script src="{{ PATH }}/view/painel/src/js/scripts/pages/orcamentos.js"></script>

{% endblock %}