{% extends "layout/layoutPanel.twig" %}

{% block title %}Cadastro de Equipe{% endblock %}

{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">

                    <div class="row match-height">

                        <div class="col-xl-4 col-lg-6 col col-12">
                            <div class="card card-company-table">
                                <div class="card-header pb-0">
                                    <h5 class="card-title">Cadastro de Equipe</h5>
                                </div>
                                <div class="card-body">
                                    <form class="mt-2" action="javascript:void(0)" id="register-client-form" method="POST">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    <label class="form-label">Setor</label>
                                                    <input type="text" name="setor" class="form-control rounded-pill" placeholder="Setor">
                                                </div>

                                                <div class="mb-1">
                                                    <label class="form-label">Seu Nome Completo</label>
                                                    <input type="text" class="form-control rounded-pill" name="nome" placeholder="Nome Completo" required/>
                                                </div>

                                                <div class="mb-1">
                                                    <label class="form-label">Seu Telefone</label>
                                                    <input type="text" class="form-control rounded-pill telefone" name="telefone" required/>
                                                </div>

                                                <div class="mb-1">
                                                    <label class="form-label">Seu E-mail</label>
                                                    <input type="email" class="form-control rounded-pill" name="email" placeholder="john@gmail.com" required />
                                                </div>


                                                <div class="mb-1">
                                                    <label class="form-label" for="login-password">Senha</label>
                                                    <div class="form-password-toggle position-relative">
                                                        <input type="password" class="form-control rounded-pill" id="register-consultor-password" name="senha" />
                                                        <span class="show-pass cursor-pointer" onclick="show_pass('register-consultor-password')"><i class="fa-solid fa-eye"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <button type="submit" class="rounded-pill btn btn-warning" id="salvar"><i class="fa-solid fa-unlock-alt me-2"></i> SALVAR CADASTRO</button>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

            </div>
        </div>
    </div>
    <script src="{{ PATH }}/view/painel/src/js/scripts/pages/equipes.js"></script>
{% endblock %}