{% extends "layout/layoutMaintenance.twig" %}

{% block title %} Palestra - QRcode {% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ PATH }}/view/src/css/app.css" type="text/css" />

<div class="container">
	<div class="row">
	    <div class="col-md-6 offset-md-3">
            <div class="d-flex align-items-center" style="min-height:100vh;">
                {{ palestra.qrcode_inscricao|raw }}
            </div>
        </div>
    </div>
</div>

{% endblock %}