{% extends "layout/layoutMaintenance.twig" %}

{% block title %} Palestra - QRcode {% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ PATH }}/view/src/css/app.css" type="text/css" />
<style type="text/css">
    .qrcode_inscricao .frame-color { fill: #246CB1 !important; }
    .qrcode_feedback .frame-color { fill: #79a722 !important; }
</style>
<div class="container">
	<div class="row">
	    <div class="col-md-6">
            <div class="d-flex align-items-center qrcode_inscricao" style="min-height:100vh;">
                {{ palestra.qrcode_inscricao|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center qrcode_feedback" style="min-height:100vh;">
                {{ palestra.qrcode_feedback|raw }}
            </div>
        </div>
    </div>
</div>

{% endblock %}