<footer class="bg-primary">
	<div class="container footer-content text-white">
		
		<div class="py-5">
			<div class="row pt-4 pb-2">
				
				<div class="col-md-3">
					<h2 class="widgettitle">SOBRE NÓS</h2>
					<div class="mt-5 mb-4">O Grupo Estevão Caputto é reconhecido pela excelência dos seus produtos. Uma das marcas que compõe o grupo é a Sampel, que tem grande reconhecimento no setor automotivo.</div>
					<ul class="social-footer mt-4">
						<li><a href="https://www.facebook.com/sampelpecasautomotivas/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
						<li><a href="https://www.instagram.com/sampel_ind/" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCcOBpJ1T0uTS8xbr4z7PhZw" target="_blank"><i class="fab fa-youtube"></i></a></li>
						<li><a href="https://www.linkedin.com/company/sampel/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
				
				<div class="col-md-6">
					<h2 class="widgettitle">INFORMAÇÕES</h2>
					<div class="menu-informativo d-flex justify-content-start flex-wrap">
						<div class="widget flex-fill">
							<ul class="menu">
								<li class="menu-item"><a href="https://www.sampel.com.br/dicas-tecnicas/">Informativo Técnico PDF</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/downloads/">Logotipos – Download</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/eventos/">Eventos</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/feiras/">Feiras</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/fornecedores/">Fornecedores</a></li>
							</ul>
						</div>
						<div class="widget flex-fill">
							<ul class="menu">
								<li class="menu-item"><a href="https://www.sampel.com.br/lancamentos/">Lançamentos</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/representantes/">Representantes</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/blog/">Blog</a></li>
								<li class="menu-item"><a href="https://www.sampel.com.br/contato/">Contato</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-md-3">
					<h2 class="widgettitle">CONTATO</h2>
					<ul class="menu-suporte">
						<li><i class="fas fa-envelope"></i> sac@sampel.com.br</li>
						<li><i class="fas fa-life-ring"></i> 08000 . 191404</li>
						<li><i class="fas fa-volume-control-phone"></i> 55 (11) 4646-8100</li>
						<li><i class="fab fa-whatsapp"></i> 55 (11) 97665-5715</li>
					</ul>
				</div>

			</div>

			<div class="text-center w-100 pt-5 border-top">© Sampel – Todos os direitos reservados</div>
		</div>

	</div>
</footer>