<div class="header-menu align-items-stretch">
    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu">
        
        <div class="menu-item me-lg-1">
            <a class="menu-link py-3" href="{{ DOMAIN }}" >
                <span class="menu-title">DASHBOARD</span>
            </a>
        </div>

        <div class="menu-item menu-lg-down-accordion me-lg-1 dropdown">
            <a class="menu-link py-3 dropdown-toggle" href="#" id="estrategias" data-bs-toggle="dropdown">
                <span class="menu-title">ESTRATEGIAS</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="estrategias">
                <li class="menu-item">
                    <a class="menu-link active py-3" href="{{ DOMAIN }}/calendario">
                        <span class="menu-title">Calendário de Reuniões</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link py-3" href="#">
                        <span class="menu-title">Canais de Comunicação</span>
                    </a>
                </li>
            </ul>
        </div>

        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
            <a class="menu-link py-3" href="javascript:void(0);">
                <span class="menu-title">PESSOAS</span>
            </a>
        </div>

        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
            <a class="menu-link py-3" href="javascript:void(0);">
                <span class="menu-title">PROCESSOS</span>
            </a>
        </div>

        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
            <a class="menu-link py-3" href="javascript:void(0);">
                <span class="menu-title">CLIENTES</span>
            </a>
        </div>

        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
            <a class="menu-link py-3" href="javascript:void(0);">
                <span class="menu-title">INDICADORES</span>
            </a>
        </div>

        <div class="menu-item me-lg-1">
            <a class="menu-link py-3" href="javascript:void(0);">
                <span class="menu-title">FORMULÁRIOS</span>
            </a>
        </div>

        <div class="menu-item me-lg-1">
            <a class="menu-link py-3 {{ ("usuarios" in currentUrl) ? 'active' : '' }}" href="{{ DOMAIN }}/usuarios">
                <span class="menu-title">USUÁRIOS</span>
            </a>
        </div>

    </div>
</div>