{% extends "layout/layoutMaster.twig" %}

{% block title %} Certificados {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="row mb-4">
			<div class="col-sm-12">
				<div class="text-center">
					<h3><b>CERTIFICADO NÃO ENCONTRADO</b></h3>
				</div>

				<hr class="w-25 m-auto mb-3">

				<div class="text-center">CPF digitado é invalido ou visitante não compareceu a visita.</div>

				<div class="py-5 text-center">
					<a href="{{ DOMAIN }}/certificados/visita" class="btn btn-warning btn-lg fw-bold"><i class="fa-solid fa-rotate-left"></i> EMITIR OUTRO CERTIFICADO</a>
				</div>

			</div>
		</div>

	</session>

</div>

<script src="{{ PATH }}/view/src/js/services/visitas.js"></script>

{% endblock %}