<div style="background-color: #ebedf0;font-family: 'helvetica';margin: 0 auto 0 auto;padding: 0;word-spacing: normal;">
    <table border="0" width="100%" style="width:100%;max-width:750px;margin: 0 auto;padding: 25px;background-color: #2458a9;">
        <tbody>
            <tr>
                <td>
                    <center><br><img src="https://sampel.com.br/eventos/view/src/media/logo.png" width="200" style="margin: 0 0 15px"><br></center>
                </td>
            </tr>
            <tr>
                <table border="0" width="100%" style="width:100%;max-width:750px;margin: 0 auto;background: #FFF;padding: 50px 50px;">
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <div><h2 style="margin: 0; text-transform: uppercase;">BEM-VINDO, {{ usuario.nome }}</h2></div>
                            </div>
                           	
                           	<br><hr>

                           	<div style="text-align: center; ">
                                <h3>Você solicitou uma recuperação de senha.</H3>
                                <p>Acesso o link abaixo e defina sua nova senha para acessar o sistema.</p>
                                <p><a href="https://sampel.com.br/eventos/login/senha/{{ usuario.codigo_privado }}" target="_blank" style="padding:10px 15px;background: #d80000;color: #fff;text-decoration: none;border-radius: 5px;">Definir Senha</a></p>
                            </div>
                            
                            <br><hr>
                            
                            <div>Para quaisquer esclarecimentos adicionais, permaneço à disposição.</div>
                            <a href="mailto:souza.marketing@sampel.com.br">souza.marketing@sampel.com.br</a>
                        </td>
                    </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>