:root {
--bs-blue: #246CB1;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #24b263;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #246CB1;
--bs-secondary: #6c757d;
--bs-success: #24b263;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f7f7f7;
--bs-dark: #212529;
--bs-primary-rgb: 36, 108, 177;
--bs-secondary-rgb: 108, 117, 125;
--bs-success-rgb: 36, 178, 99;
--bs-info-rgb: 13, 202, 240;
--bs-warning-rgb: 255, 193, 7;
--bs-danger-rgb: 220, 53, 69;
--bs-light-rgb: 247, 247, 247;
--bs-dark-rgb: 33, 37, 41;
--bs-white-rgb: 255, 255, 255;
--bs-black-rgb: 0, 0, 0;
--bs-body-color-rgb: 33, 37, 41;
--bs-body-bg-rgb: 255, 255, 255;
--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--bs-body-font-family: var(--bs-font-sans-serif);
--bs-body-font-size: 1rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.5;
--bs-body-color: #212529;
--bs-body-bg: #fff;
}
.bg-blue{
background-color: var(--bs-blue) !important;
}
.bg-gray{
background-color: var(--bs-gray) !important;
}
.bg-purple{
background-color: var(--bs-purple) !important;
}
.bg-pink{
background-color: var(--bs-pink) !important;
}
.bg-red{
background-color: var(--bs-red) !important;
}
.bg-orange{
background-color: var(--bs-orange) !important;
}
.bg-yellow{
background-color: var(--bs-yellow) !important;
}
.bg-green{
background-color: var(--bs-green) !important;
}
.bg-teal{
background-color: var(--bs-teal) !important;
}
.bg-cyan{
background-color: var(--bs-cyan) !important;
}
.text-blue{
color: var(--bs-blue) !important;
}
.text-gray{
color: var(--bs-gray) !important;
}
.text-purple{
color: var(--bs-purple) !important;
}
.text-pink{
color: var(--bs-pink) !important;
}
.text-red{
color: var(--bs-red) !important;
}
.text-orange{
color: var(--bs-orange) !important;
}
.text-yellow{
color: var(--bs-yellow) !important;
}
.text-green{
color: var(--bs-green) !important;
}
.text-teal{
color: var(--bs-teal) !important;
}
.text-cyan{
color: var(--bs-cyan) !important;
}
/*==== */
.header-navbar.floating-nav {
    position: absolute;
}
.mx-05 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
.text-primary {
    color: #1194dc !important;
}
.primary-tooltip .tooltip-inner {
  background-color: var(--bs-primary);
}
.danger-tooltip .tooltip-inner {
  background-color: var(--bs-danger);
}
.primary-tooltip.bs-tooltip-top .tooltip-arrow::before, .primary-tooltip.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: var(--bs-primary) !important;
}
.danger-tooltip.bs-tooltip-top .tooltip-arrow::before, .danger-tooltip.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
  border-top-color: var(--bs-danger) !important;
}
.bg-warning, .btn-warning {
    color: #000 !important;
}
.form-select-sm {
    font-size: 1rem !important;
}
.dataTables_length, .dataTables_info {
    padding-left: 0;
}
.dataTables_filter, .dataTables_paginate {
    padding-right: 0;
}
div.dataTables_wrapper div.dataTables_filter select, div.dataTables_wrapper div.dataTables_length select {
    margin: 0;
}
.dark-layout .main-menu-content .navigation-main .nav-item.active.open > a {
    background-color: #1194dc !important;
}
.table tbody td .title {
    font-size: 14px;
    font-weight: 600;
}
.table .row-actions {
    font-size: 13px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
}
.table tr:hover .row-actions {
    position: static;
}
.row-actions span.delete a {
    color: #a00;
}
.ck.ck-toolbar {
    background: transparent !important;
    border: 1px solid transparent !important;
}
.ck.ck-editor__main>.ck-editor__editable {
    background: transparent !important;
    min-height: 250px;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: initial;
}
.ck.ck-editor {
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 5px;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border: 0 !important; 
    box-shadow: none !important;
    outline: none !important;
}
.card-header-post {
    padding: 0.9rem 1.5rem;
    border-bottom: 1px solid rgb(216 214 222);
}
.card-header-post + .card-body {
    padding-top: 1.5rem !important;
}
.ck.ck-toolbar .ck.ck-toolbar__separator {
    height: 20px;
    margin-top: 9px !important;
}
.form-select {
  background-position: right 0.5rem center;
}
.nav-tabs .nav-link:after {
    background: linear-gradient(30deg, #1194dc, rgb(23 119 176)) !important;
}
.nav-pills .nav-link.active {
    border-color: #1194dc;
    box-shadow: 0 4px 18px -4px rgb(23 119 176 / 65%);
}
.login-load {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgb(255 255 255 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-load:before {
    content: "\f110";
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
    -webkit-animation: fa-spin 1s steps(8) infinite;
    animation: fa-spin 1s steps(8) infinite;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 2rem;
}
span.ck-file-dialog-button {
    display: none;
}
.edit-slug-box {
    display: none;
    font-size: 12px;
    margin-top: 5px;
}
.clear-date {
    position: absolute;
    right: 50px;
    top: 9px;
}
.input-saque > * {
  font-size: 3rem !important;
}
.badge i, .badge svg {
    height: auto;
    width: auto;
    font-size: normal;
}
.contact-icon {
    display: inline-flex;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 4px;
    background-color: rgba(158,207,250,.3);
    color: var(--primary-bg-color);
}
.cadastrar_visita_success, .editar_visita_success, .cadastrar_palestra_success, .editar_palestra_success {
    display: none;
}
.form-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #333333;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 30%);
}
.form-load.show {
  display: flex;
}
.dt-buttons, .dataTables_length {
    float: left;
}
.dt-buttons .dt-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #6e6b7b;
    margin: 15px 10px 0 0px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.786rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.358rem;
    border-color: #1194dc !important;
    background-color: #1194dc !important;
    color: #fff !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s, border 0s;
}
.dt-buttons .dt-button:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #1194dc;
}
.show-pass {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
}
.separator:before, .separator:after {
    content: '';
    height: 1px;
    width: 20%;
    background-color: #3b4253;
}
.separator {
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    align-items: center;
}
.offcanvas-end {
    width: 400px;
}
.Pendente-bg {
    box-shadow: inset 0 0 0 9999px var(--bs-warning) !important
}
.Aprovado-bg {
    box-shadow: inset 0 0 0 9999px var(--bs-success) !important
}
.Recusado-bg {
    box-shadow: inset 0 0 0 9999px var(--bs-danger) !important
}
.Revisar-bg {
    box-shadow: inset 0 0 0 9999px var(--bs-info) !important
}
.chart {
    display: flex;
    gap: 10px;
    height: 250px;
    align-items: flex-end;
    margin-top: 20px;
    justify-content: space-around;
}
.coluna {
    height: 100%;
}
.coluna .barra {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
}
.barra-valores {
    width: 15px;
    background: #24b263;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    margin-right: 2px;
}
.barra-parcelas {
    width: 15px;
    background: #05618e;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    color: #FFF;
}
.barra-valores.active, .barra-parcelas.active {
    border: 2px solid #FFF;
}
@media print {
    html, body{
      font-size: 12px;
      color: #000000 !important;
    }
    .no-print, .filter-table {
      display: none;
    }
    td, td {
        color: #000000 !important;
    }
}