{% extends "layout/layoutPanel.twig" %}

{% block title %}Feedback Estatísticas{% endblock %}

{% block body %}

<!-- BEGIN: Content-->
<div class="app-content content ">

    <div class="card card-company-table">
        <div class="card-header pb-0">
            <h5 class="card-title">Feedback Estatísticas</h5>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table dataTable_list">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Pergunta</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lista in listas %}
                        <tr>
                            <td>
                                <b>{{ lista.user_cpf }}</b>
                            </td>
                            <td>
                                <b>{{ lista.pergunta }}</b>
                            </td>
                            <td>
                                {{ lista.resposta }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script src="{{ PATH }}/view/painel/src/js/scripts/pages/feedback.js"></script>

{% endblock %}