<h2>Alerta: Estoque Zerado</h2>
<p>O produto abaixo ficou sem estoque:</p>
<ul>
    <li><b>Produto:</b> {{ nome_produto }}</li>
    <li><b>Estoque Atual:</b> {{ estoque }}</li>
</ul>
<p>Considere reabastecer este item com urgência.</p> 