<h2>Alerta: Estoque Mínimo</h2>
<p>O produto abaixo atingiu o estoque mínimo:</p>
<ul>
    <li><b>Produto:</b> {{ nome_produto }}</li>
    <li><b>Estoque Atual:</b> {{ estoque }}</li>
    <li><b>Estoque Mínimo:</b> {{ estoque_minimo }}</li>
</ul>
<p>Considere reabastecer este item.</p> 