{% extends "layout/layoutMaster.twig" %}

{% block title %}56 minutos - Minha Conta{% endblock %}

{% block body %}

<div class="page-title-wrap">
    <div class="container">
        <h2 class="entry-title">Minha Conta</h2>
        <ul class="breadcrumb">
            <li><a href="{{ DOMAIN }}">Home</a></li>
            <li>Minha Conta</li>
        </ul>
    </div>
</div>

<section>
	<div class="py-5">
		<div class="container">

			<div class="row">
				<div class="col-md-3 col-sm-12">
					{% include'pages/minha-conta/menu-user.twig' %}
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="alert alert-warning" role="alert">
						Não há downloads disponíveis ainda.
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


{% endblock %}