{% extends "layout/layoutMaster.twig" %}

{% block title %}Minha Conta{% endblock %}

{% block body %}

<section>
	<div class="py-5">
		<div class="container">

			<div class="row">
				<div class="col-md-3 col-sm-12">
					{% include'pages/minha-conta/menu-user.twig' %}
				</div>
				<div class="col-md-9 col-sm-12">
					<p>Olá, <strong>{{ _session.sampel_user_nome }}</strong> Seja bem vindo.</p>
					<p>A partir do painel de controle de sua conta, você pode ver <b>suas inscrições</b>, <b>seus agendamentos</b>, editar sua <b>senha e detalhes da conta</b>.</p>
				</div>
			</div>

		</div>
	</div>
</section>


{% endblock %}