{% extends "layout/layoutMaster.twig" %}

{% block title %} Visitas {% endblock %}

{% block body %}

<div class="container py-5">
	
	<session>

		<div class="mb-4">
			<h3>Seu Feedback: <span class="text-warning">{{ visita.title }}</span></h3>
			<div>Deixe o seu Feedback e concorra a prêmios variados.</div>
		</div>

		<hr>


		<form action="javascript:void(0)" methode="">
			<div class="row">
				<div class="col-md-6">

				</div>
				<div class="col-md-6">
					
				</div>
			</div>
		</form>


	</session>

</div>

{% endblock %}