<div class="border-bottom px-3 py-1 mb-2">
    <h4 class="mb-0">SALDO DESSE CONSULTOR</h4>
</div>
<div class="px-3 py-2 pt-0">

    <div class="mb-2">
		<div class="input-group input-group-lg input-saque">
			<span class="input-group-text  border-0 border-bottom rounded-0 ps-0">R$</span>
			<input type="text" class="form-control  border-0 border-bottom rounded-0 money" value="{{ carteira|number_format(2, ',', '.') }}" readonly="readonly">
			<span class="input-group-text  border-0 border-bottom rounded-0 pe-0" title="Valor em carteira desse consultor até o presente momento."><i class="fa-solid fa-square-question"></i></span>
		</div>
		<div class="valor-error text-danger"></div>
    </div>

</div>