@page {
    size: A4;
    margin: 0;
}
@media print {
    body {-webkit-print-color-adjust: exact;}
    html, body {
        width: 210mm;
        height: 297mm;
        max-width: 210mm;
        max-height: 297mm;
    }
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.p-3 {
    padding: 1rem 0;
}
.m-auto {
    margin: 0 auto;
}
.w-50 {
    width: 50%;
}
.w-100{
    width: 100%;
}
.text-center {
    text-align: center;
}
.conteudo {
    width: 210mm;
    height: 297mm;
}
.conteudo > div {
    width: 49.9%;
    height: 49.9%;
    max-width: 49.9%;
    max-height: 49.9%;
    float: left;
}
.conteudo .titulo {
    text-transform: uppercase;
}
/* .conteudo .coluna1, .conteudo .coluna3 {
    border-right: 1px solid #000;
}
.conteudo .coluna3, .conteudo .coluna4 {
    border-top: 1px solid #000;
} */
.border {
    border: var(--bs-border-width) var(--bs-border-style) rgba(0,0,0,1) !important;
}
.border-2 {
    border-width: 2px!important;
}
.p-1 {
    padding: 0.25rem!important;
}
.my-2 {
    margin: 0.5rem!important;
}
.text-black-50 {
    --bs-text-opacity: 1;
    color: rgba(0,0,0,.5)!important;
}
.text-secondary {
    color: #2b2f32;
}
.conteudo .coluna > div {
    padding: 25px;
}
.conteudo .cargo img{
    max-width: 100%;
    min-height: 50px;
}
.linha {
    height: 2px;
    background-color: #000;
}